{% extends "base.html" %}
{% block content %}
<div id="map" style="height: 80vh; border-radius: 10px;"></div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

<script>
    var map = L.map('map').setView([48.06, 14.18], 13); // Start bei Adlwang
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    map.on('click', function(e) {
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;

        fetch('/api/save_point', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({lat: lat, lng: lng})
        })
        .then(res => res.json())
        .then(data => {
            if(data.status === "success") {
                L.marker([lat, lng]).addTo(map)
                 .bindPopup("Gespeichert: " + data.nr).openPopup();
            } else {
                alert(data.message);
            }
        });
    });
</script>
{% endblock %}
